*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;

}
.barna{
    height: 125vh;
    width: 100vw;

}
.header{
   background-color:rgb(98, 129, 120);;
    height: 20vh;
    width: 74vw;
}
.head{
    /* background-color: rgb(166, 185, 153); */
    background-color: 	rgb(156, 182, 167);
     height: 5vh;
     width: 74vw;
 }
body {
    margin: 0;
    padding: 0;
    background: url('../image/reg.jpg') repeat;
    
}

.col-6{
    /* background-color: aliceblue; */
    margin-top: 45px;
    text-transform: capitalize;
    font-size: 30px;
    color: rgb(64, 130, 109);
    text-decoration: none;
    }
    .col-2 img{
        height: 19vh;
     margin-left: 10px;
        
    }
    .col-9 p{
        text-transform: capitalize;
    font-size: 40px;
    margin-left: 49px;
    margin-top: 5px;
    font-weight: bold;
    /* color: rgb(165, 70, 63); */
    color:rgb(197, 42, 42);
    }
    h5{
        text-transform: capitalize;
    font-size: 35px; 
    /* font-weight: bold; */
    color:rgb(165, 70, 63);
    margin-left: 200px;
    }
    h2{
        margin-top: 40px;
        text-transform: capitalize;
        font-size: 40px;
        color:rgb(165, 70, 63);
        text-decoration: none;
        font-weight: bold;
        margin-left: 52vh;
       
    }
    .reg input{
        background: rgb(208,240,192);
        width: 70%;
        margin-left: 200px;
        
    }
    .reg label{
        text-transform: capitalize;
        font-size: 20px;
        color: rgb(64, 130, 109);
        margin-top: 10px;
        margin-left: 200px;

    }
    h4{
        margin-top: 10px;
        text-transform: capitalize;
        font-size: 25px;
        color:rgb(165, 70, 63);
        text-decoration: none;
       
        margin-left: 55vh;
        margin-bottom: 55px;
    }
    .col-6 p{
        font-size: 24px;
      
       

    }
    .col-6 input{
padding-top: 21px ;
padding-bottom: 15px;
background: rgb(208,240,192);
    }
    .buutt{
        text-align: center;
    }
    button{
        font-size: 30px;
        font-weight: bold;
        margin-bottom: 25px;
        padding: 5px 10px;
        width: 40%;
        border: 0;
        /* border-radius: 15px; */
        background-color: rgb(165, 70, 63);
        /* background-color: #ebd0ce; */
        /* color: #545871; */
        color: white;
        position: relative;
        margin-top: 35px;
    }
    button:hover{
        color: white;
        background: rgb(64, 130, 109);
    }
    